tensorflow
transformers
torch
google-cloud-storage
matplotlib
numpy
pillow
pytesseract
sentencepiece
sacremoses
streamlit
fastapi
uvicorn
colorama
python-multipart
streamlit_cropper
inference_sdk
opencv-python
supervision
